<% if notice %>
	<div class="alert alert-success spacer"><%= notice %></div>
<% end %>

<p>
  <strong>Long URL:</strong>
  <%= @url.long_url %>
</p>

<p>
  <strong>Short URL:</strong>
  <%= @url.short_url %>
</p>

<%= link_to 'Edit', edit_url_path(@url), class: "btn btn-primary" %> 
<%= link_to 'Back', urls_path, class: "btn btn-default" %>
